In [1]:
### kaggle

In [3]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize
import en_coref_lg
nlp = en_coref_lg.load()
from dateutil import parser
import re

In [4]:
def summarise_fast(article, n=3):
    """"""
    # resolve co-reference issues
    clusters = nlp(article)._.coref_clusters

    if isinstance(clusters, type(None)):
        trans_dict = {}
    else:
        clusters = filter(None, clusters)
        trans_dict = {str(i[1]): str(i[0]) for i in clusters}

    for k, v in trans_dict.items():
        article = article.replace(k, v)

    return article

In [244]:
## Kaggle Dataset (Fake News)

In [523]:
df_fake = pd.read_csv('../../data/external/getting-real-fn/fake.csv')

In [524]:
df_fake = df_fake[df_fake.type.isin(['bias', 'conspiracy', 'fake', 'hate', 'junksci', 'satire', 'state'])]

In [525]:
df_fake = df_fake[df_fake['language']=='english']

In [526]:
df_fake['ym'] = df_fake['published'].apply(lambda x: x[:7])

In [527]:
df_fake = df_fake.reset_index()

In [528]:
df_fake = df_fake.dropna(subset=['text', 'title'])

In [529]:
df_fake['triple_text'] = df_fake[['title', 'text']].apply(lambda x: str(x['title'])+". "+" ".join(sent_tokenize(str(x['text']))[:2]).replace('\n',''), 1)

In [558]:
df_fake['triple_text'].iloc[717]

'The Email That Got John Podesta Hacked. The Email That Got John Podesta Hacked Latest WikiLeaks dump reveals phishing email that compromised Podesta Mikael Thalen - October 28, 2016 Comments The email that lead to the hack of Clinton campaign chairman John Podesta’s Gmail account was published online Friday by WikiLeaks. The malicious March 2016 email, which claims to be from Google, asked Podesta to change his password due to unauthorized access from an IP address in the Ukraine.'

In [553]:
np.where(df_fake['triple_text'].str.contains('.com', case=True))

(array([   3,    4,    6,    7,    8,    9,   11,   12,   13,   14,   16,
          20,   26,   27,   30,   34,   37,   47,   54,   57,   73,   87,
          88,   97,   99,  117,  131,  164,  174,  175,  176,  177,  178,
         182,  184,  186,  187,  189,  190,  191,  192,  193,  194,  195,
         198,  200,  204,  206,  215,  217,  221,  227,  233,  235,  238,
         244,  245,  249,  252,  253,  254,  258,  261,  263,  264,  267,
         269,  271,  273,  274,  288,  289,  290,  296,  298,  304,  307,
         309,  315,  324,  326,  334,  350,  360,  369,  370,  381,  385,
         386,  389,  390,  392,  394,  403,  405,  416,  421,  426,  437,
         440,  441,  451,  453,  456,  461,  462,  466,  475,  481,  483,
         491,  494,  500,  501,  508,  514,  515,  516,  517,  523,  524,
         526,  534,  543,  549,  550,  555,  557,  560,  563,  564,  568,
         578,  583,  592,  608,  612,  617,  619,  625,  631,  632,  636,
         639,  643,  644,  646,  651,  656,  660,  662,  664,  670,  671,
         672,  673,  679,  681,  682,  683,  684,  685,  687,  689,  698,
         699,  700,  705,  707,  708,  710,  711,  712,  714,  717,  721,
         722,  725,  726,  727,  730,  731,  735,  737,  738,  740,  742,
         743,  744,  745,  747,  751,  754,  756,  760,  762,  764,  765,
         766,  768,  770,  772,  775,  776,  777,  778,  779,  784,  786,
         789,  791,  796,  800,  802,  803,  806,  808,  809,  810,  814,
         815,  818,  820,  822,  823,  826,  836,  837,  842,  845,  848,
         850,  857,  858,  860,  862,  869,  873,  874,  875,  891,  896,
         909,  914,  915,  916,  917,  925,  938,  943,  946,  947,  948,
         956,  959,  966,  974,  980,  982,  986,  997, 1009, 1016, 1023,
        1028, 1031, 1032, 1033, 1035, 1044, 1048, 1052, 1053, 1055, 1057,
        1063, 1064, 1065, 1066, 1070, 1071, 1072, 1074, 1075, 1077, 1078,
        1081, 1083, 1087, 1088, 1090, 1091, 1092, 1096, 1098, 1101, 1106,
        1111, 1112, 1115, 1118, 1119, 1121, 1122, 1123, 1124, 1125, 1129,
        1130, 1131, 1132, 1134, 1142, 1144, 1151, 1152, 1153, 1154, 1161,
        1170, 1171, 1172, 1173, 1175, 1177, 1179, 1185, 1187, 1190, 1193,
        1200, 1208, 1210, 1211, 1222, 1223, 1225, 1227, 1235, 1236, 1245,
        1252, 1257, 1261, 1262, 1270, 1272, 1279, 1284, 1295, 1315, 1317,
        1334, 1338, 1344, 1346]),)

In [536]:
df_fake['triple_text_clean'] = df_fake['triple_text'].apply(lambda x: re.sub('.com$', '', x))

In [544]:
np.sum(df_fake['triple_text'] == df_fake['triple_text_clean'])

1350

In [458]:
df_fake['coref_triples'] = df_fake['triple_text'].apply(lambda x: summarise_fast(x))

In [401]:
df_fake['fake'] = 1

In [402]:
df_fake.to_csv('../../data/external/getting-real-fn/fake_triples.csv')

In [1]:
## Isot-Dataset (Fake News)

In [170]:
df[(df.text.str.contains('Robert De Niro')) & (df.text.str.contains('Trump'))]

,title,text,subject,date
218,"Robert De Niro Attends Charity Event, Tears I...",Acclaimed actor Robert De Niro doesn t hold ba...,News,"October 16, 2017"
2934,"Alec Baldwin Joins Anti-Trump Protest, Gives ...","Over the next few days, America (and the world...",News,"January 20, 2017"
4307,Robert De Niro Just Told The World He Wants T...,Robert De Niro was supposed to appear in a non...,News,"October 8, 2016"
5070,WATCH: Actor Robert De Niro SLAMS ‘Totally Nu...,Legendary actor Robert De Niro was in Sarajevo...,News,"August 13, 2016"
6368,WATCH: Robert De Niro Makes Sure To Perfectly...,Every year GLAAD holds their media awards cere...,News,"May 15, 2016"
12425,ROBERT DENIRO Wanted “To Punch Trump In The Fa...,Robert De Niro gave anti-Donald Trump proteste...,politics,"Nov 12, 2016"
19635,ROBERT DENIRO Wanted “To Punch Trump In The Fa...,Robert De Niro gave anti-Donald Trump proteste...,left-news,"Nov 12, 2016"

In [159]:
df = pd.read_csv('../../data/external/isot_dataset/Fake.csv')

In [49]:
df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [50]:
df.subject.unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [51]:
df_case = df[df.subject.isin(['politics', 'US_News', 'Government News'])]

In [52]:
df_case = df_case[~df_case.date.str.contains('https')]

In [53]:
df_case['ym'] = df_case['date'].apply(lambda x: parser.parse(x)).astype(str)

In [54]:
df_case = df_case[df_case.ym.str[:7].isin(['2016-07','2016-08','2016-09','2016-10','2016-11','2016-12'])]

In [55]:
keys = ['trump', 'hillary', 'election', 'obama']

In [56]:
t_arrays = []
for i in keys:
    t_arrays.extend(np.where(df_case['text'].str.contains(i, case=False))[0])

In [57]:
df_filter = df_case.iloc[np.array(list(set(t_arrays)))]

In [58]:
df_filter = df_filter.dropna(subset=['text', 'title'])

In [59]:
df_filter['fake'] = 1

In [60]:
len(df_filter)

1428

In [114]:
df_filter = df_filter.reset_index()

In [115]:
df_filter['triple_text'] = df_filter[['title', 'text']].apply(lambda x: str(x['title'])+". "+" ".join(sent_tokenize(x['text'])[:2]).replace('\n',''), 1)

In [116]:
df_filter['coref_triples'] = df_filter['triple_text'].apply(lambda x: summarise_fast(x))

In [125]:
df_filter.head(10).coref_triples[5]

'BOOM! CHARLIE DANIELS Nails Obama And Democrats In Just One Tweet. Obama has been low key in the past few months even as he campaigned for a losing Hillary Clinton.Suddenly Obama and the Democrats decided Obama and the Democrats CARE about Russia and so Obama got all tough with Putin, which is sorta hilarious if you think about it. Dump on top of that the mess in Israel, Obamacare, the Iran fail, millions of Americans out of work, and the attempts at forcing states to fund Planned Parenthood, and you have a nice big MESS that Trump and Trump administration will have to figure out.Read more: Twitchy'

In [250]:
df_filter.to_csv('../../data/external/isot_dataset/fake_triples.csv')

In [243]:
## Isot-Dataset (True News)

In [176]:
df = pd.read_csv('../../data/external/isot_dataset/True.csv')

In [177]:
df[(df.text.str.contains('Michelle Obama')) & (df.text.str.contains('Trump'))]

,title,text,subject,date
3948,"Restaurant, retail calorie disclosure rule in ...",LOS ANGELES (Reuters) - A much-delayed U.S. ru...,politicsNews,"May 2, 2017"
5180,Really tremendous: Trump mimic Alec Baldwin co...,LOS ANGELES (Reuters) - Actor Alec Baldwin is ...,politicsNews,"March 2, 2017"
5496,"U.S., Japan first ladies: both unconventional ...",WASHINGTON (Reuters) - When Japanese first lad...,politicsNews,"February 10, 2017"
6182,Facts about the inauguration of Donald Trump a...,(Reuters) - With his left hand on a Bible used...,politicsNews,"January 19, 2017"
6214,Obama hopes for quiet after White House but wi...,WASHINGTON (Reuters) - He is ready for some qu...,politicsNews,"January 19, 2017"
6241,Ex-president George H.W. Bush moved to intensi...,(Reuters) - Former U.S. President George H.W. ...,politicsNews,"January 18, 2017"
6294,Martin Luther King's daughter says 'God can tr...,ATLANTA/NEW YORK (Reuters) - Martin Luther Kin...,politicsNews,"January 16, 2017"
6387,"Obama pushes values and prods Trump in final, ...","(The story refiles, to fix quote in 14th para...",politicsNews,"January 10, 2017"
6469,"In emotional farewell speech, Michelle Obama p...",WASHINGTON (Reuters) - First lady Michelle Oba...,politicsNews,"January 7, 2017"
6645,"Under threat in Washington, first lady's food ...",NEW YORK (Reuters) - Michelle Obama will be ce...,politicsNews,"December 18, 2016"
6646,"With water cannons and Southern belles, Trump ...","MOBILE, Ala. (Reuters) - U.S. President-elect ...",politicsNews,"December 18, 2016"
7334,Trump and Obama set campaign rancor aside with...,WASHINGTON (Reuters) - U.S. President Barack O...,politicsNews,"November 10, 2016"
7341,Trying to move on from the U.S. election? Tune...,WASHINGTON (Reuters) - Missing those president...,politicsNews,"November 10, 2016"
7535,Security hustles Trump from stage after protes...,"RENO, Nevada/PHILADELPHIA (Reuters) - Republic...",politicsNews,"November 5, 2016"
7664,"Trump attacks Clinton on trade, says he should...","TOLEDO, Ohio; WINSTON SALEM, N.C. (Reuters) - ...",politicsNews,"October 27, 2016"
7680,Trump pushes Melania back onto campaign stage:...,WASHINGTON (Reuters) - Melania Trump will give...,politicsNews,"October 27, 2016"
7696,Republican hold on U.S. state legislatures cou...,CHICAGO (Reuters) - The Republican Party’s gri...,politicsNews,"October 26, 2016"
7722,Obama turns focus to U.S. Congress as he campa...,LAS VEGAS (Reuters) - President Barack Obama o...,politicsNews,"October 24, 2016"
7742,Trump says he will accept election result - if...,"WASHINGTON/DELAWARE, Ohio (Reuters) - U.S. Rep...",politicsNews,"October 19, 2016"
7754,"'Absolutely false,' Trump says defiantly after...","WEST PALM BEACH, Fla. (Reuters) - Donald Trump...",politicsNews,"October 13, 2016"
7772,Pro-Trump group ad seeks to pit Michelle Obama...,WASHINGTON (Reuters) - A Super PAC backing Re...,politicsNews,"October 18, 2016"
7781,Melania Trump calls taped comments by Donald T...,(Reuters) - Melania Trump rose to her husband’...,politicsNews,"October 18, 2016"
8113,"Trump finally backs off Obama birth claim, fal...",WASHINGTON (Reuters) - Republican presidential...,politicsNews,"September 16, 2016"
8114,Popular Michelle Obama courts young people for...,"FAIRFAX, Va. (Reuters) - Democratic presidenti...",politicsNews,"September 16, 2016"
8596,"Daughter Chelsea casts Clinton as great mom, d...",PHILADELPHIA (Reuters) - Chelsea Clinton took ...,politicsNews,"July 29, 2016"
8602,Dispatch from inside the conventions,(Reuters) - Delegates at both the Republican a...,politicsNews,"July 28, 2016"
8616,Make Hillary Likable Again: Democrats seek to ...,PHILADELPHIA (Reuters) - When Hillary Clinton ...,politicsNews,"July 27, 2016"
8622,Democrats beat Republicans in first night TV c...,NEW YORK (Reuters) - Democrats beat Republican...,politicsNews,"July 26, 2016"
8632,"An Obama, not the president, brings down the h...",PHILADELPHIA (Reuters) - Democrats divided ove...,politicsNews,"July 26, 2016"
8661,"Trump accepts Republican nomination, vows to p...",CLEVELAND (Reuters) - Donald Trump accused Dem...,politicsNews,"July 21, 2016"
8679,"""Make Republicans Whole Again!"" A divided part...",CLEVELAND (Reuters) - Ted Cruz was recounting ...,politicsNews,"July 21, 2016"
8683,"Ted Cruz jeered for refusing to back Trump, ex...",CLEVELAND (Reuters) - U.S. Senator Ted Cruz re...,politicsNews,"July 21, 2016"
8690,Trump employee apologizes for Melania speech '...,CLEVELAND (Reuters) - A staff writer for the T...,politicsNews,"July 20, 2016"
8694,Trump staff writer takes responsibility for Me...,CLEVELAND (Reuters) - A staff writer of the Tr...,politicsNews,"July 20, 2016"
8700,Melania Trump's speech has an echo of Michelle...,CLEVELAND (Reuters) - Melania Trump’s speech a...,politicsNews,"July 19, 2016"
8702,Trump narrows gap with Clinton as Republicans ...,NEW YORK (Reuters) - Republican presidential c...,politicsNews,"July 19, 2016"
8703,Melania Trump's RNC speech produces so-so TV a...,(Reuters) - Melania Trump’s big night at the R...,politicsNews,"July 19, 2016"
8710,Justice Department changes social media policy...,WASHINGTON (Reuters) - The U.S. Justice Depart...,politicsNews,"July 19, 2016"
8711,Trump's wife seeks to soften his image at rauc...,CLEVELAND (Reuters) - Donald Trump’s wife Mela...,politicsNews,"July 18, 2016"
10226,Obama spars with Cuba's Castro over human righ...,HAVANA (Reuters) - U.S. President Barack Obama...,politicsNews,"March 21, 2016"
10248,Obama in Cuba on historic visit,HAVANA (Reuters) - President Barack Obama arri...,politicsNews,"March 20, 2016"
10842,"From a river town in Slovenia to Trump Tower, ...","SEVNICA, Slovenia (Reuters) - If Melania Trump...",politicsNews,"February 12, 2016"
11255,President Obama's final State of the Union add...,(Reuters) - President Barack Obama knocked Rep...,politicsNews,"January 13, 2016"

In [90]:
df_case = df[df.subject == 'politicsNews']

In [174]:
df_case['ym'] = df_case['date'].apply(lambda x: parser.parse(x)).astype(str)

In [229]:
df_case = df_case[df_case.ym.str[:7].isin(['2016-08','2016-09','2016-10','2016-11'])]

In [230]:
keys = ['election', 'trump', 'hillary', 'obama']

In [231]:
t_arrays = []
for i in keys:
    t_arrays.extend(np.where(df_case['text'].str.contains(i, case=False))[0])

In [232]:
df_filter = df_case.iloc[np.array(list(set(t_arrays)))]

In [233]:
len(df_filter)

1463

In [217]:
df_filter = df_filter.dropna(subset=['text', 'title'])

In [218]:
df_filter['fake'] = 0

In [519]:
df_filter = df_filter.reset_index()

In [508]:
df_filter['triple_text'] = df_filter[['title', 'text']].apply(lambda x: str(x['title'])+". "+" ".join(sent_tokenize(x['text'])[:2]).replace('\n',''), 1)

In [509]:
df_filter['coref_triples'] = df_filter['triple_text'].apply(lambda x: summarise_fast(x))

In [520]:
df_filter.to_csv('../../data/external/isot_dataset/real_triples.csv')

In [61]:
1428+1463

2891

In [559]:
### Combine Triples

In [593]:
fake_triples = pd.read_csv(
    '../../data/processed/reference_fake/reference_fake.txt', header=None, sep="\t"
)

In [594]:
real_triples = pd.read_csv(
    '../../data/processed/reference_true/reference_true.txt', header=None, sep="\t"
)

In [595]:
combined_triples = fake_triples.append(real_triples)

In [596]:
len(combined_triples)

45128

In [597]:
combined_triples.head()

                                                   0
0  fake|0|Muslims | Stole Millions In | Gov ' t B...
1                  fake|0|Muslims | Stole | Millions
2         fake|1|2016-10-28 | Print | administration
3                  fake|2|HILLARY | GOES | OFF RAILS
4         fake|3|journalist | has | cell phone calls

In [598]:
comb = pd.read_csv(
    '../../data/processed/reference_model/reference_model.txt', header=None, sep="\t"
)

In [599]:
len(comb)

45128

In [601]:
comb.tail()

                                                       0
45123  fake|2848|Temple Mount | is | Islamic site called
45124          fake|2848|Temple Mount | is | site called
45125  fake|2848|so-called Temple Mount | is | Islami...
45126  fake|2848|United Nations Educational | has pas...
45127       fake|2848|so-called Temple Mount | is | site

In [105]:
from nltk import WordNetLemmatizer

In [106]:
lemmatizer = WordNetLemmatizer()

In [108]:
lemmatizer.lemmatize('Vowed', 'v')

'Vowed'

In [207]:
true_triples = pd.read_csv(
    '../../data/processed/reference_model_t/reference_model_t.txt', header=None, sep="\t"
)

In [211]:
true_triples = pd.DataFrame(
    true_triples[0].str.split("|", 4).tolist(),
    columns=["status", "article_id", "e1", "r", "e2"],
)

In [209]:
from collections import Counter

In [ ]:
true_t

In [212]:
a = Counter(true_triples['e1'])

In [125]:
fake_triples.groupby('status').count()

        article_id     e1      r     e2
status
fake         17743  17743  17743  17743
true         27385  27385  27385  27385

In [5]:
### Swedish data ####

In [164]:
import os, json

In [167]:
json_dir = '../../data/external/swedish_news/'

In [172]:
files = [i for i in os.listdir(json_dir) if '.json' in i]

In [175]:
def read_json(json_path):
    with open(json_path) as f:
        content = json.load(f)
        d = {k:v for k,v in content.items() if k in ['uuid', 'title', 'text', 'published']}
        d['source'] = content['thread']['site']
        d['fake'] = 1
    return d

In [176]:
groupdf1 = [pd.Series(read_json(json_dir+files[i])) for i in range(len(files)) if i != 34952]
df = pd.concat(groupdf1, axis=1).transpose()

In [177]:
df.head()

,uuid,title,text,published,source,fake
0,72a45d2258f57ecb67797eef521861766253f01e,HV71 utsatt för fräckt inbrott,Senaste tidningen Plusklubben Viktigt! 2016-02...,2016-10-24T00:40:00.000+03:00,jp.se,1
1,e6e0fa043210a9856646cc89b07d97348746867e,Fyra fordon i brand i Borås,Fyra fordon i brand i Borås TT Fyra fordon bra...,2016-10-13T10:52:00.000+03:00,metro.se,1
2,7c018d132f99d6a4a7ed3255d092e8f3f780b5dd,Kjell-Olof Feldt: ”Jag upptäckte whisky – då s...,Kjell-Olof Feldt: ”Jag upptäckte whisky – då s...,2016-10-31T17:15:00.000+02:00,svt.se,1
3,f5f8eacc25eba43e2250a3092a4468abbf3eea9b,Eskilstuna-Kuriren – Inga vänner av tryckfrihet,Du är här: Hem » Politisk beteckning » Liberal...,2016-10-08T05:47:00.000+03:00,ekuriren.se,1
4,48c5ef1b3af74e1026147b8e13f0291c5d397118,"En enda regndag i oktober, extremtorrt och mån...","En enda regndag i oktober, extremtorrt och mån...",2016-10-16T03:00:00.000+03:00,pressen.se,1

In [178]:
keys = ['trump', 'hillary', 'election', 'obama']

In [179]:
t_arrays = []
for i in keys:
    t_arrays.extend(np.where(df['title'].str.contains(i, case=False))[0])

In [180]:
df_filter = df.iloc[np.array(list(set(t_arrays)))]

In [181]:
len(df_filter)

2819

In [182]:
len(set(df_filter.source))

133

In [194]:
len(df_filter)

2819

In [201]:
from sklearn.model_selection import train_test_split

In [207]:
small_df = df_filter

In [208]:
small_df['triple_text'] = small_df[['title', 'text']].apply(lambda x: str(x['title'])+". "+" ".join(sent_tokenize(x['text'])[:2]).replace('\n',''), 1)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [209]:
small_df.head(10)['triple_text'].iloc[1]

'Två kvinnor berättar: ”Trump tafsade på oss”. Stefan Franzén stefan.franzen@nsk.se Två kvinnor har trätt fram i New York Times och berättat att presidentkandidaten Donald Trump tafsat på dem och rört vid dem på ett olämpligt sätt. Den ena händelsen ska ha ägt rum i början av 1980-talet medan den an dra ägde rum 2005.'

In [210]:
import copy
import time
from googletrans import Translator

translatedList = []
counter = 0
for index, row in small_df.iterrows():
    # REINITIALIZE THE API
    counter += 1
    print(counter)
    time.sleep(5)
    translator = Translator()
    newrow = copy.deepcopy(row)
    try:
        # translate the 'text' column
        translated = translator.translate(row['triple_text'], src='sv', dest='en')
        newrow['triple_translated'] = translated.text
    except Exception as e:
        print(str(e))
        break
    translatedList.append(newrow)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819

In [211]:
df_trips = pd.DataFrame(translatedList)

In [212]:
df_trips.head()['triple_translated']

16385     Trump paused in Finnish miss. Trump paused in ...
196613    Two women say, "Trump paused on us". Stefan Fr...
122886    Recording shows Trump's women's account. Recor...
221190    TV host shuts off after Trumpskandal. TV host ...
106504    Get to know the candidate: Hillary Clinton. Do...
Name: triple_translated, dtype: object

In [213]:
df_trips['coref_triples'] = df_trips['triple_translated'].apply(lambda x: summarise_fast(x))

In [214]:
df_trips.head()

,uuid,title,text,published,source,fake,triple_text,triple_translated,coref_triples
16385,fdcc1b252bc62bff10a49c8fb632d1077d7d8fae,Trump tafsade på finsk miss,Trump tafsade på finsk miss TT-Utrikes 17 minu...,2016-10-28T05:09:00.000+03:00,bt.se,1,Trump tafsade på finsk miss. Trump tafsade på ...,Trump paused in Finnish miss. Trump paused in ...,Trump paused in Finnish miss. Trump paused in ...
196613,7927a619d0eed251d266046685fd98870328b7b7,Två kvinnor berättar: ”Trump tafsade på oss”,Stefan Franzén stefan.franzen@nsk.se Två kvinn...,2016-10-13T12:52:00.000+03:00,laholmstidning.se,1,Två kvinnor berättar: ”Trump tafsade på oss”. ...,"Two women say, ""Trump paused on us"". Stefan Fr...","Two women say, ""Trump paTwo womened on Two wom..."
122886,ebff5712b2ebed74b70f5a7c6a2e9ed4d47fc64c,Inspelning visar Trumps kvinnoförakt,Inspelning visar Trumps kvinnoförakt Publicera...,2016-10-08T07:00:00.000+03:00,sverigesradio.se,1,Inspelning visar Trumps kvinnoförakt. Inspelni...,Recording shows Trump's women's account. Recor...,Recording shows Trump's women's account. Recor...
221190,de28fa7ab53702fe414fe765e20e757fbaa149a7,Tv-värd stängs av efter Trumpskandal,Tv-värd stängs av efter Trumpskandal Programle...,2016-10-09T03:00:00.000+03:00,pressen.se,1,Tv-värd stängs av efter Trumpskandal. Tv-värd ...,TV host shuts off after Trumpskandal. TV host ...,TV host shuts off after Trumpskandal. TV host ...
106504,089f94231389975d01a815ad76138586de942479,Lär känna kandidaten: Hillary Clinton,Inrikes Utrikes Ekonomi Vetenskap Ođđasat Uuti...,2016-10-26T22:45:00.000+03:00,svt.se,1,Lär känna kandidaten: Hillary Clinton. Inrikes...,Get to know the candidate: Hillary Clinton. Do...,Get to know the candidate: Hillary Clinton. Do...

In [215]:
df_trips.to_csv('../../data/external/swedish_news/triples_sample.csv')

In [8]:
df_trips = pd.read_csv('../../data/external/swedish_news/triples_sample.csv')

In [29]:
df_trips[df_trips.coref_triples.str.contains('Donald Trump was bowled')]

,Unnamed: 0,index,Unnamed: 0.1,uuid,title,text,published,source,fake,triple_text,triple_translated,coref_triples
218,218,218,229986,0f9cb93d59c5d73d0e926d9eb6151065d4cba6a1,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 12:16 | 16-1...,2016-10-21T18:16:00.000+03:00,unt.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
341,341,341,17364,81084824bad2795ad092c0ebc1df3d0fba695176,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 5...,2016-10-21T11:33:00.000+03:00,ystadsallehanda.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
366,366,366,9272,e2b41d4a6adc6d5274ae275f2ff22b50ddc4701e,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 12:16 | 16-1...,2016-10-21T18:16:00.000+03:00,corren.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
457,457,457,42284,ac7bd4bb4ae03e02cb17ac0d62a1da40f7ef96d3,Donald Trump buades ut vid middag,,2016-10-21T18:16:00.000+03:00,kuriren.nu,1,Donald Trump buades ut vid middag.,Donald Trump was bowled out at noon.,Donald Trump was bowled out at noon.
525,525,525,206309,a570c2bbe310d16c0e94729b42f600d4f7dc06fc,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 1...,2016-10-21T11:33:00.000+03:00,barometern.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
631,631,631,222975,aa054a71e6764de42c76f06ab9811b25646919b9,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 05:33 | 16-1...,2016-10-21T11:33:00.000+03:00,unt.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
655,655,655,182087,bfa2b3203d1bf9a634196f842d9160f3b0af2dd6,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 7...,2016-10-21T11:33:00.000+03:00,sydostran.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
672,672,672,190320,ffe15bb13d2227b1800e5642ef634f0a122b9664,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 5...,2016-10-21T12:19:00.000+03:00,trelleborgsallehanda.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
869,869,869,174527,e64921842e3d2158f39895d93f8a3eeaf45170fd,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Hillary Clin...,2016-10-21T12:01:00.000+03:00,svt.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
874,874,874,158151,e47d782bd17a5240bca8fb14cd616c619546b27d,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Donald Trump...,2016-10-21T12:09:00.000+03:00,di.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
946,946,946,150204,098fa7e214c4fdbc8ffda872660a38c7e92d9b18,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 06:19 | 16-1...,2016-10-21T12:19:00.000+03:00,corren.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
948,948,948,223938,0100b3dd3b8e8158300e014d0c14cc86a545c2ad,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 5...,2016-10-21T12:19:00.000+03:00,smp.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1089,1089,1089,134200,7eb53f7297b167d9d9cb8b208e47b7f6acb51802,Donald Trump buades ut vid middag,21 oktober 2016 06:21 Donald Trump buades ut v...,2016-10-21T12:21:00.000+03:00,sydsvenskan.se,1,Donald Trump buades ut vid middag. 21 oktober ...,Donald Trump was bowled out at noon. October 2...,Donald Trump was bowled out at noon. October 2...
1181,1181,1181,191795,ec4a1d5b9bafe1e5f08bd44052776550682f0245,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Publicerad 0...,2016-10-21T11:48:00.000+03:00,dn.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1198,1198,1198,3435,eb1328c59f642e58bb1d214fa210db6149c11eaf,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Sverige & vä...,2016-10-21T13:16:00.000+03:00,smp.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1298,1298,1298,151170,870014b15f8c1eb5eceece7d052df3d12ca43d81,Donald Trump buades ut vid middag,,2016-10-21T11:33:00.000+03:00,kuriren.nu,1,Donald Trump buades ut vid middag.,Donald Trump was bowled out at noon.,Donald Trump was bowled out at noon.
1308,1308,1308,77483,d2573768594f273c20b1240e8e1df8d8a72ce813,Donald Trump buades ut vid middag,,2016-10-21T12:19:00.000+03:00,kuriren.nu,1,Donald Trump buades ut vid middag.,Donald Trump was bowled out at noon.,Donald Trump was bowled out at noon.
1501,1501,1501,176331,9d1784d1d3196f4abbb173efa280509735bc32c6,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 2...,2016-10-21T11:33:00.000+03:00,blt.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1514,1514,1514,119016,2aa1872fcb7ced80fc6f4bcba60fda8700a4cbfb,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 3...,2016-10-21T12:19:00.000+03:00,ostrasmaland.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1556,1556,1556,160092,1e74d05ebbae2fed97f08a8080cec8960dfbed9e,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Publicerad f...,2016-10-21T11:34:00.000+03:00,norran.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
1675,1675,1675,185006,60ae28db44270d5c81369a597db3117a601871cf,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 06:19 | 16-1...,2016-10-21T12:19:00.000+03:00,unt.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
2186,2186,2186,22677,727a899b371cf8cfbbef26606905a243dae3d34c,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag Republikaner...,2016-10-20T03:00:00.000+03:00,pressen.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
2446,2446,2446,80777,34090aec7801d86b8a10c52eb9145c85c2d37d0b,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT-Utrikes 2...,2016-10-21T12:19:00.000+03:00,kristianstadsbladet.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
2513,2513,2513,7289,e887f9c2e912a13ebcaa7091a07b568579db9d44,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag TT Republika...,2016-10-21T12:22:00.000+03:00,metro.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...
2720,2720,2720,229068,aeb8bad52d58f32cd889b50ec2e267596f09aa67,Donald Trump buades ut vid middag,Donald Trump buades ut vid middag 05:33 | 16-1...,2016-10-21T11:33:00.000+03:00,corren.se,1,Donald Trump buades ut vid middag. Donald Trum...,Donald Trump was bowled out at noon. Donald Tr...,Donald Trump was bowled out at noon. Donald Tr...

In [10]:
len(df_trips)

2819

In [96]:
df_trips.head(10)['triple_translated'].iloc[6]

'Michael Moore releases Trump movie. Michael Moore releases Trump film The Oscar-winning "Bowling for Columbine" director Michael Moore has secretly worked on a documentary about the US presidential candidate Donald Trump. (TT).'

In [154]:
import os

In [217]:
files = os.listdir('../../data/processed/cv-models/swedish_data_v3/small_files')

In [218]:
for i in files:
    os.rename('../../data/processed/cv-models/swedish_data_v3/small_files/'+i, '../../data/processed/cv-models/swedish_data_v3/small_files/swedish_'+i)